<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
</head>
<body>
    <h1>Add something you need to do:</h1>
    <!-- This is our action, and we are submitting it to add url/view-->
    <!-- if there is no action it will still work as it will default to submitting to current url -->
    <form method="POST" action="add">
    {% csrf_token %} 
    {{ form.as_p }}
    <dix>
        <p>
            <button type="submit">Add Item</button>
        </p>
    </dix>
    
    </form> 
    <a href="/">
        <button>Back</button>
    </a>
</body>
</html>